.sv-title {
    text-align: left;
  }
  
  .sv-question__header--location--left {
    min-width: 200px;
  }
  .sv-container-modern {
    width: 100%;
    margin: 0 auto;
  }
  
  .sv-question.sv-row__question--small {
    max-width: none;
  }