/* container init */
div.container {
    display: grid;
    grid-gap: 5px;
    row-gap: 10px;
    grid-template-areas: 
    "header"
    "section"
    "footer";
}
 
/* All Grid Items */
div.container > * {
    background-color: mediumseagreen;
    font-size: 80px;
}
 
header {
    grid-area: header;
}
 
nav {
    grid-area: nav;
}
 
section {
    grid-area: section;
}
 
aside {
    grid-area: aside;
}
 
footer {
    grid-area: footer;
}


header{width:100%; text-align:center; position:relative; height:120px; border-bottom:1px solid #35495e}
header h1{position:absolute; top:0; left:100px;}
header ul.menu:after{display:block; clear:both; content:'';}
header ul.menu{position:absolute; top:20px; right:50px;}
header ul.menu li{float:left; padding:10px 20px; list-style:none;}

a{text-decoration:none; color:#333;}